<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FileName</key>
		<string>skieur_tests2014.sqlite?wabbar=yes&amp;waupdate=30</string>
		<key>Subtitle</key>
		<string>Saison 2013-2014</string>
		<key>Title</key>
		<string>Tests 2014</string>
		<key>Description</key>
		<string>Tests 2014</string>
	</dict>
</array>
</plist>
