<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>x</key>
		<string>27.5</string>
		<key>y</key>
		<string>350</string>
		<key>width</key>
		<string>255</string>
		<key>height</key>
		<string>79</string>
	</dict>
</dict>
</plist>
