<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<array>
		<dict>
			<key>Column</key>
			<string>Marque</string>
			<key>Tag</key>
			<string>%TAITLE%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>Modele</string>
			<key>Tag</key>
			<string>%Modele%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>Prix_String</string>
			<key>Tag</key>
			<string>%Budget%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>Gamme</string>
			<key>Tag</key>
			<string>%GAMME%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>caractere</string>
			<key>Tag</key>
			<string>%CARACTERE%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>niveau</string>
			<key>Tag</key>
			<string>%NIVEAU REQUIS%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>test_Taille_testee</string>
			<key>Tag</key>
			<string>%TAILLE TESTEE%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>Test_avantages</string>
			<key>Tag</key>
			<string>%Test_avantages%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>test_inconvenients</string>
			<key>Tag</key>
			<string>%test_inconvenients%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>Description_Test</string>
			<key>Tag</key>
			<string>%Description_Test%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>Caractéristiques</string>
			<key>Tag</key>
			<string>%Caractéristiques%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>Test_baseline</string>
			<key>Tag</key>
			<string>%Test_baseline%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>imgLR</string>
			<key>Tag</key>
			<string>%img%</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>icone_testerchoice</string>
			<key>Template</key>
			<string>&lt;img src=&quot;%value%&quot; width=&quot;40&quot; height=&quot;40&quot; /&gt;</string>
		</dict>
		<dict>
			<key>Column</key>
			<string>icone_genre</string>
			<key>Template</key>
			<string>&lt;img src=&quot;%value%&quot; width=&quot;40&quot; height=&quot;40&quot; /&gt;</string>
		</dict>
	</array>
	<key>badges</key>
	<array>
		<string>icone_genre</string>
		<string>icone_testerchoice</string>
	</array>
</dict>
</plist>
