<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>Ipad</key>
		<dict>
			<key>Landscape</key>
			<dict>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>688</integer>
				<key>height</key>
				<integer>675</integer>
			</dict>
			<key>Portrait</key>
			<dict>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>432</integer>
				<key>height</key>
				<integer>932</integer>
			</dict>
		</dict>
		<key>Iphone</key>
		<dict>
			<key>Landscape</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>87</integer>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>184</integer>
			</dict>
			<key>Portrait</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>135</integer>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>295</integer>
			</dict>
		</dict>
		<key>Iphone5</key>
		<dict>
			<key>Landscape</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>87</integer>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>184</integer>
			</dict>
			<key>Portrait</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>135</integer>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>383</integer>
			</dict>
		</dict>
	</dict>
	<key>WADetailsViewController</key>
	<dict>
		<key>Ipad</key>
		<dict>
			<key>Landscape</key>
			<dict>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>688</integer>
				<key>height</key>
				<integer>675</integer>
			</dict>
			<key>Portrait</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>768</integer>
				<key>height</key>
				<integer>932</integer>
			</dict>
		</dict>
		<key>Iphone</key>
		<dict>
			<key>Landscape</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>271</integer>
			</dict>
			<key>Portrait</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>431</integer>
			</dict>
		</dict>
		<key>Iphone5</key>
		<dict>
			<key>Landscape</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>271</integer>
			</dict>
			<key>Portrait</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>519</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
